/*style.css*/
body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    
}

.header-container {
    display: flex;
    flex-direction: row; 
    background-color: #1F2937;
    color: white;  
    padding: 16px;
    height: min-content;
    justify-content: center;
    
}

header {
    font-size: 24px;
    font-weight: bold;    
}

.header,
.header-links {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}



.hero-main {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    display: flex;
    width: 300px;
    margin-bottom: 10px;
}

button {
    background-color: #3882F6 ;
    width: 100px;
    height: max-content;
    border-radius: 10px;
    padding: 6px;
   align-self: start;
   margin: 10px;
   color: white;
   border: none;
   
}

ul {
    display: flex;
    list-style: none;
    gap: 10px;
    

}


.hero-section {
    display: flex;
    flex-direction: column;
    width: 400px;
    
}

.header-container img {
    align-self: center ;
    justify-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
}


.second-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 16px;
    
}

.second-container h2 {
    margin-bottom: 20px;
    height: min-content;
}

.card-row  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 166, 1, 0.25);
}

.third-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.third-container h3 {
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    margin-top: 50px;
    font-style: italic;
}

.third-container p {
    margin-bottom: 50px;
}

.fourth-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.call-action {
    background-color: #3882F6;
    padding: 5px 50px;
    margin: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: white;
    align-content: center;
    width: 500px;
    
    
}

.call-action h4 {
    margin-bottom: 0px;
}

.call-action button {
    align-self: end;
    border: 2px solid white;
    justify-self: center;
}

